<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Presidential Candidate Polling Dashboard</h1>
    <table>
        <tr>
            <th>Dates</th>
            <th>Pollster</th>
            <th>Sample</th>
            <th>Result</th>
            <th>Net</th>
        </tr>
        {% for row in pollster_data_array %}
            <tr>
                <td>{{ row.date }}</td>
                <td>{{ row.pollster_name }}</td>
                <td>{{ row.sample_size }}</td>
                <td>Trump: {{ row.trump_fav }} Biden: {{ row.biden_fav }}</td>
                <td>{{ row.leader }} {{ row.net }} </td>
            </tr>
        {% endfor %}

    </table>
</body>
</html>